@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-martian-mono: 'Martian Mono', monospace;
}

body {
  font-family: var(--font-martian-mono), monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .sm-input {
    @apply px-3 py-3 bg-gray-200 dark:bg-gray-700 bg-opacity-50 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition ease-in-out duration-150 text-sm text-black dark:text-white;
  }
  .dark-input {
    @apply bg-gray-700 bg-opacity-50 text-gray-200 border-0 rounded-md p-2 w-full focus:bg-gray-600 focus:bg-opacity-70 focus:outline-none focus:ring-1 focus:ring-secondary transition ease-in-out duration-150 text-sm
  }
  .sn-select {
    @apply border p-2 border-neutral-200 border-2 dark:border-neutral-700 text-zinc-600 dark:text-zinc-300 bg-white dark:bg-zinc-800 rounded-sm text-sm
  }
  .sn-input {
    @apply input input-bordered border border-primary border-opacity-40 bg-opacity-40 bg-gray-200 dark:border-gray-600 dark:bg-gray-700 text-zinc-700 dark:text-white focus:outline-none rounded-md
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.custom-bg {
  background-color: #e5e5f7;
  opacity: 0.6;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 14px
    ),
    repeating-linear-gradient(#25640355, #256403);
}
